---
import "@styles/global.css"
import BaseHead from "@components/BaseHead.astro"
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
import Drawer from "@components/Drawer.astro"

// 1. Astro.props에서 새로 추가한 변수들을 받아오도록 수정합니다.
const { title, description, audioUrl, hreflangEn, hreflangKo, hreflangX } = Astro.props
import { SITE } from "@consts"
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={`${title} | ${SITE.TITLE}`} description={description} />
    
    {audioUrl && (
      <meta property="og:audio" content={audioUrl} />
      <meta property="og:audio:type" content="audio/mpeg" />
    )}

    {hreflangEn && <link rel="alternate" hreflang="en" href={hreflangEn} />}
    {hreflangKo && <link rel="alternate" hreflang="ko" href={hreflangKo} />}
    {hreflangX && <link rel="alternate" hreflang="x-default" href={hreflangX} />}
    <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-ZSE3XFD3RL"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZSE3XFD3RL');
    </script>


    <meta name="naver-site-verification" content="17611ca091aaec1211cfb73d60f7dcedc949948b" />
    <script is:inline type="text/javascript" src="//wcs.pstatic.net/wcslog.js"></script>
    <script is:inline type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "b9ce6bc25a84c0";
    if(window.wcs) {
      wcs_do();
    }
    </script>
  </head>
  <body>
    <Header />
    <Drawer />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>